/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.heading {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.success-icon {
  height: 70px;
  min-width: 30px;
  margin-right: 14px;
}
.alert-container {
  margin-top: 4px;
  margin-left: 10px;
}
.alert-text {
  font-family: 'Roboto';
  font-size: 20px;
}

.description {
  font-family: 'Roboto';
  color: #475569;
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .success-text {
    font-size: 24px;
  }
  .description {
    font-size: 17px;
  }
}
.success {
  color: #2dca73;
}
.error {
  color: #ff0b37;
}
.warning {
  color: #ffb800;
}
.info {
  color: #0f81e0;
}
